<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserMapper">
    <resultMap id="baseResult" type="com.example.entity.User">
        <id column="no" property="id" jdbcType="INTEGER"></id>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="age" property="age" jdbcType="INTEGER"></result>

    </resultMap>
    <insert id="insertUser" parameterType="com.example.entity.User">
        insert into usertable(name,age) values (#{name},#{age});
    </insert>
</mapper>